@import url(https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600&family=Raleway:wght@400;500;600&family=Roboto+Slab:wght@400;500;600;700&display=swap); /*! tailwindcss v2.0.3 | MIT License | https://tailwindcss.com */

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif;
}
hr {
  height: 0;
  color: inherit;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  text-indent: 0;
  border-color: inherit;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="submit"],
button {
  -webkit-appearance: button;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
summary {
  display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}
button {
  background-color: transparent;
  background-image: none;
}
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
fieldset,
ol,
ul {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}
html {
  font-family: Inter, sans-serif;
  line-height: 1.5;
}
body {
  font-family: inherit;
  line-height: inherit;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 solid #e2e8f0;
}
hr {
  border-top-width: 1px;
}
img {
  border-style: solid;
}
textarea {
  resize: vertical;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #94a3b8;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #94a3b8;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #94a3b8;
}
input::placeholder,
textarea::placeholder {
  color: #94a3b8;
}
[role="button"],
button {
  cursor: pointer;
}
table {
  border-collapse: collapse;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
a {
  color: inherit;
  text-decoration: inherit;
}
button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
[multiple],
[type="date"],
[type="email"],
[type="number"],
[type="password"],
[type="search"],
[type="text"],
[type="time"],
[type="url"],
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-color: #64748b;
  border-width: 1px;
  border-radius: 0;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}
[multiple]:focus,
[type="date"]:focus,
[type="email"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="text"]:focus,
[type="time"]:focus,
[type="url"]:focus,
select:focus,
textarea:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  border-color: #2563eb;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #64748b;
  opacity: 1;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #64748b;
  opacity: 1;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #64748b;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  color: #64748b;
  opacity: 1;
}
select {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3E%3Cpath stroke='%2364748b' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3E%3C/svg%3E");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding-right: 2.5rem;
  color-adjust: exact;
}
[multiple] {
  background-image: none;
  background-position: 0 0;
  background-repeat: unset;
  background-size: initial;
  padding-right: 0.75rem;
  color-adjust: unset;
}
[type="checkbox"],
[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  color-adjust: exact;
  display: inline-block;
  vertical-align: middle;
  background-origin: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 1rem;
  width: 1rem;
  color: #2563eb;
  background-color: #fff;
  border-color: #64748b;
  border-width: 1px;
}
[type="checkbox"] {
  border-radius: 0;
}
[type="radio"] {
  border-radius: 100%;
}
[type="checkbox"]:focus,
[type="radio"]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 2px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: #2563eb;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
[type="checkbox"]:checked,
[type="radio"]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.207 4.793a1 1 0 10 1.414 NaN NaNlNaN NaNa1 1 0 1-1.414 NaN NaNlNaN NaNa1 1 0 11.414-1.414 NaN NaNlNaN NaN NaN NaNa1 1 0 11.414 0 NaN NaNz'/%3E%3C/svg%3E");
}
[type="radio"]:checked {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='8' cy='8' r='3'/%3E%3C/svg%3E");
}
[type="checkbox"]:checked:focus,
[type="checkbox"]:checked:hover,
[type="radio"]:checked:focus,
[type="radio"]:checked:hover {
  border-color: transparent;
  background-color: currentColor;
}
[type="checkbox"]:indeterminate {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3E%3C/svg%3E");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}
[type="checkbox"]:indeterminate:focus,
[type="checkbox"]:indeterminate:hover {
  border-color: transparent;
  background-color: currentColor;
}
[type="file"] {
  background: unset;
  border-color: inherit;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-size: unset;
  line-height: inherit;
}
[type="file"]:focus {
  outline: 1px auto -webkit-focus-ring-color;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
[x-cloak] {
  display: none;
}
.en ol.x-breadcrumb li + li {
  padding-left: 0.5rem;
}
.en ol.x-breadcrumb li + li:before {
  display: inline-block;
  height: 1.25rem;
  padding-right: 0.5rem;
  position: relative;
  top: 1px;
  width: 1.25rem;
  content: url(../img/chevron.svg);
}
.dv ol.x-breadcrumb li + li {
  padding-right: 0.5rem;
}
.dv ol.x-breadcrumb li + li:before {
  display: inline-block;
  height: 1.25rem;
  padding-left: 0.5rem;
  position: relative;
  top: 1px;
  width: 1.25rem;
  content: url(../img/chevron-left.svg);
}
@font-face {
  font-family: MV Waheed;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/mv_waheed.otf) format("opentype");
}
@font-face {
  font-family: Faruma;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Faruma.otf) format("opentype");
}
.black-gradient:before {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    from(var(--tw-gradient-stops))
  );
  background-image: linear-gradient(270deg, var(--tw-gradient-stops));
  --tw-gradient-to: #fff;
  opacity: 1;
}
.black-gradient:before,
.main-gradient:before {
  content: "";
  --tw-gradient-from: transparent;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, transparent);
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
.main-gradient:before {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--tw-gradient-stops))
  );
  background-image: linear-gradient(180deg, var(--tw-gradient-stops));
  --tw-gradient-to: #102247;
  border-radius: 0.75rem;
  opacity: 0.3;
}
.filtered {
  mix-blend-mode: lighten;
}
canvas {
  width: 100% !important;
}
.bg-content {
  -webkit-backdrop-filter: hue-rotate(180deg);
  backdrop-filter: hue-rotate(180deg);
  background: rgba(16, 37, 71, 0.35);
}
.featured-image:after {
  content: "";
  position: absolute;
  background-image: url(../img/box.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}
body {
  --tw-text-opacity: 1;
  color: rgba(105, 127, 168, var(--tw-text-opacity));
}
body .dv {
  font-weight: 400;
  font-family: Faruma;
}
.en h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.en h1,
.en h2 {
  font-weight: 700;
  margin-bottom: 0.75rem;
  --tw-text-opacity: 1;
  color: rgba(22, 47, 98, var(--tw-text-opacity));
}
.en h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.en h3 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;
  --tw-text-opacity: 1;
  color: rgba(22, 47, 98, var(--tw-text-opacity));
}
.dv .en h4,
.dv .text-xl {
  line-height: 2rem;
}
.en h4 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgba(22, 47, 98, var(--tw-text-opacity));
}
.en h4,
.en p {
  margin-bottom: 0.75rem;
}
.en p {
  font-size: 1rem;
  line-height: 1.5rem;
}
.en b,
.en strong {
  font-weight: 600;
  --tw-text-opacity: 1;
  color: rgba(89, 108, 143, var(--tw-text-opacity));
}
.dv h1 {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.dv h1,
.dv h2 {
  font-weight: 300;
  letter-spacing: 0.025em;
  font-family: MV Waheed;
  margin-bottom: 0.75rem;
  --tw-text-opacity: 1;
  color: rgba(22, 47, 98, var(--tw-text-opacity));
}
.dv h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}
.dv h3 {
  font-family: MV Waheed;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;
  --tw-text-opacity: 1;
  color: rgba(22, 47, 98, var(--tw-text-opacity));
}
.dv h3,
.dv h4 {
  font-weight: 300;
  letter-spacing: 0.025em;
}
.dv .dv h4,
.dv .text-xl {
  line-height: 2rem;
}
.dv h4 {
  font-family: MV Waheed;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;
  --tw-text-opacity: 1;
  color: rgba(22, 47, 98, var(--tw-text-opacity));
}
.dv .dv p,
.dv .text-xl {
  line-height: 2rem;
}
.dv p {
  font-size: 1.125rem;
  line-height: 1.75rem;
  line-height: 1.625;
  margin-bottom: 0.75rem;
  letter-spacing: -0.025em;
}
.dv b,
.dv strong {
  --tw-text-opacity: 1;
  color: rgba(89, 108, 143, var(--tw-text-opacity));
}
ul > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.page-component h1,
.page-component h2,
.page-component h3,
.page-component h4 {
  margin-top: 1.5rem;
}
.page-component h1 a,
.page-component h2 a,
.page-component h3 a,
.page-component h4 a,
.page-component h5 a {
  --tw-text-opacity: 1;
  color: rgba(22, 47, 98, var(--tw-text-opacity));
}
.page-component a:not(.non-white) {
  --tw-text-opacity: 1;
  color: rgba(52, 114, 237, var(--tw-text-opacity));
}
.page-component a:not(.non-white):hover {
  text-decoration: underline;
}
.page-component .bg-gray-100 a {
  --tw-text-opacity: 1;
  color: rgba(22, 47, 98, var(--tw-text-opacity));
}
.page-component .bg-gray-100 a:hover {
  text-decoration: underline;
}
.accordian a {
  --tw-text-opacity: 1;
  color: rgba(22, 47, 98, var(--tw-text-opacity));
}
.accordian a:hover,
footer a:hover {
  text-decoration: underline;
}
.article--grid {
  display: grid;
  gap: 0.75rem;
}
.has-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.has-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.has-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.article--grid-item {
  grid-column: span 1 / span 1;
}
.circular-progress {
  margin-top: 60px;
  position: relative;
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
.circular-progress svg {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
.circular-progress circle {
  stroke-width: 5;
  fill: none;
  stroke-linecap: round;
}
.circular-progress circle:first-of-type {
  stroke: #dee2e6;
}
.circular-progress circle:nth-of-type(2) {
  stroke: #3472ed;
  stroke-dasharray: 251.42857143;
  stroke-dashoffset: 75.42857143;
  -webkit-transition: "all 0.3s ease-in-out";
  transition: "all 0.3s ease-in-out";
}
.progress {
  -webkit-animation: progress;
  animation: progress;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
@-webkit-keyframes progress {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes progress {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.link {
  --tw-text-opacity: 1;
  color: rgba(38, 83, 173, var(--tw-text-opacity));
}
.link:hover {
  text-decoration: underline;
}
table:not(.component) > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * (1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
table:not(.component) {
  min-width: 100%;
}
.page-component table:not(.component) thead tr td a,
.page-component table:not(.component) thead tr th a {
  --tw-text-opacity: 1;
  color: rgba(22, 47, 98, var(--tw-text-opacity));
}
.page-component table:not(.component) thead tr td a:hover,
.page-component table:not(.component) thead tr th a:hover {
  text-decoration: underline;
}
table:not(.component) thead tr td,
table:not(.component) thead tr th {
  --tw-bg-opacity: 1;
  background-color: rgba(241, 245, 249, var(--tw-bg-opacity));
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.75rem 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(89, 108, 143, var(--tw-text-opacity));
  text-transform: uppercase;
}
table:not(.component) tbody,
table:not(.component) tbody tr {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
table:not(.component) tbody tr td {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  line-height: 1.625;
  padding: 1rem 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(51, 65, 85, var(--tw-text-opacity));
}
.page-component table.table tr:first-child td a {
  --tw-text-opacity: 1;
  color: rgba(22, 47, 98, var(--tw-text-opacity));
}
.page-component table.table tr:first-child td a:hover {
  text-decoration: underline;
}
table.table tr:first-child td {
  --tw-bg-opacity: 1;
  background-color: rgba(241, 245, 249, var(--tw-bg-opacity));
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.75rem 1.5rem;
  --tw-text-opacity: 1;
  color: rgba(89, 108, 143, var(--tw-text-opacity));
  text-transform: uppercase;
}
.en table.table tr:first-child td:last-child {
  border-right-width: 1px;
}
.en table.table tr:first-child td:first-child,
.en table.table tr:first-child th:first-child {
  border-left-width: 1px;
}
.en table.table tr:first-child td {
  border-top-width: 1px;
}
.en table.table tr:first-child td:first-child {
  border-top-left-radius: 0.5rem;
}
.en table.table tr:first-child td:last-child {
  border-top-right-radius: 0.5rem;
}
.en table {
  border-collapse: separate;
  border-spacing: 0;
}
.en table tr th {
  border-bottom-width: 1px;
}
.en table tr td,
.en table tr th:last-child {
  border-right-width: 1px;
}
.en table tr td {
  border-bottom-width: 1px;
}
.en table tr td:first-child,
.en table tr th:first-child {
  border-left-width: 1px;
}
.en table tr th {
  border-top-width: 1px;
}
.en table tr:first-child th:first-child {
  border-top-left-radius: 0.5rem;
}
.en table tr:first-child th:last-child {
  border-top-right-radius: 0.5rem;
}
.en table tr:last-child td:first-child {
  border-bottom-left-radius: 0.5rem;
}
.en table tr:last-child td:last-child {
  border-bottom-right-radius: 0.5rem;
}
.dv table.table tr:first-child td:last-child {
  border-left-width: 1px;
}
.dv table.table tr:first-child td:first-child,
.dv table.table tr:first-child th:first-child {
  border-right-width: 1px;
}
.dv table.table tr:first-child td {
  border-top-width: 1px;
}
.dv table.table tr:first-child td:first-child {
  border-top-right-radius: 0.5rem;
}
.dv table.table tr:first-child td:last-child {
  border-top-left-radius: 0.5rem;
}
.dv table {
  border-collapse: separate;
  border-spacing: 0;
}
.dv table tr th {
  border-bottom-width: 1px;
}
.dv table tr td,
.dv table tr th:last-child {
  border-left-width: 1px;
}
.dv table tr td {
  border-bottom-width: 1px;
}
.dv table tr td:first-child,
.dv table tr th:first-child {
  border-right-width: 1px;
}
.dv table tr th {
  border-top-width: 1px;
}
.dv table tr:first-child th:first-child {
  border-top-right-radius: 0.5rem;
}
.dv table tr:first-child th:last-child {
  border-top-left-radius: 0.5rem;
}
.dv table tr:last-child td:first-child {
  border-bottom-right-radius: 0.5rem;
}
.dv table tr:last-child td:last-child {
  border-bottom-left-radius: 0.5rem;
}
hr {
  border-width: 2px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.font-waheed {
  font-weight: 300;
  letter-spacing: 0.025em;
}
.font-faruma {
  font-weight: 400;
}
.dv .text-lg,
.dv .text-xl {
  line-height: 2rem;
}
.space-y-0 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0px * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0px * var(--tw-space-y-reverse));
}
.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse));
}
.space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * (1 - var(--tw-space-x-reverse)));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * (1 - var(--tw-space-x-reverse)));
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.75rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.space-x-3 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.75rem * var(--tw-space-x-reverse));
  margin-left: calc(0.75rem * (1 - var(--tw-space-x-reverse)));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
.space-x-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.5rem * var(--tw-space-x-reverse));
  margin-left: calc(1.5rem * (1 - var(--tw-space-x-reverse)));
}
.space-y-7 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.75rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.75rem * var(--tw-space-y-reverse));
}
.space-y-12 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * (1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}
.space-y-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 1;
}
.space-x-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}
.divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * (1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.divide-x > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 0;
  border-right-width: calc(1px * var(--tw-divide-x-reverse));
  border-left-width: calc(1px * (1 - var(--tw-divide-x-reverse)));
}
.divide-x-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-x-reverse: 1;
}
.divide-solid > :not([hidden]) ~ :not([hidden]) {
  border-style: solid;
}
.bg-transparent {
  background-color: transparent;
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgba(248, 250, 252, var(--tw-bg-opacity));
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(241, 245, 249, var(--tw-bg-opacity));
}
.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(226, 232, 240, var(--tw-bg-opacity));
}
.bg-yellow-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 243, 199, var(--tw-bg-opacity));
}
.bg-yellow-400 {
  --tw-bg-opacity: 1;
  background-color: rgba(251, 191, 36, var(--tw-bg-opacity));
}
.bg-green-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(209, 250, 229, var(--tw-bg-opacity));
}
.bg-green-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(5, 150, 105, var(--tw-bg-opacity));
}
.bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(219, 234, 254, var(--tw-bg-opacity));
}
.bg-indigo-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(224, 231, 255, var(--tw-bg-opacity));
}
.bg-mof-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(52, 114, 237, var(--tw-bg-opacity));
}
.bg-mof-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(38, 83, 173, var(--tw-bg-opacity));
}
.bg-mof-blue-300 {
  --tw-bg-opacity: 1;
  background-color: rgba(24, 53, 110, var(--tw-bg-opacity));
}
.bg-mof-blue-400 {
  --tw-bg-opacity: 1;
  background-color: rgba(22, 47, 98, var(--tw-bg-opacity));
}
.bg-mof-blue-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgba(65, 79, 105, var(--tw-bg-opacity));
}
.hover\:bg-white:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}
.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(241, 245, 249, var(--tw-bg-opacity));
}
.hover\:bg-mof-blue-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(52, 114, 237, var(--tw-bg-opacity));
}
.hover\:bg-mof-blue-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(22, 47, 98, var(--tw-bg-opacity));
}
.bg-gradient-to-b {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--tw-gradient-stops))
  );
  background-image: linear-gradient(180deg, var(--tw-gradient-stops));
}
.bg-main-pattern {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.716 0 0 6.716 0 15c8.284 0 15-6.716 15-15zM0 15c0 8.284 6.716 15 15 15 0-8.284-6.716-15-15-15zm30 0c0-8.284-6.716-15-15-15 0 8.284 6.716 15 15 15zm0 0c0 8.284-6.716 15-15 15 0-8.284 6.716-15 15-15z' fill='%231e386f' fill-opacity='.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}
.from-transparent {
  --tw-gradient-from: transparent;
  --tw-gradient-stops: var(--tw-gradient-from),
    var(--tw-gradient-to, transparent);
}
.to-mof-blue-400 {
  --tw-gradient-to: #162f62;
}
.to-mof-blue-500 {
  --tw-gradient-to: #102247;
}
.border-white {
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
}
.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgba(241, 245, 249, var(--tw-border-opacity));
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgba(226, 232, 240, var(--tw-border-opacity));
}
.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgba(203, 213, 225, var(--tw-border-opacity));
}
.border-mof-blue-100 {
  --tw-border-opacity: 1;
  border-color: rgba(52, 114, 237, var(--tw-border-opacity));
}
.border-mof-blue-300 {
  --tw-border-opacity: 1;
  border-color: rgba(24, 53, 110, var(--tw-border-opacity));
}
.border-mof-blue-400 {
  --tw-border-opacity: 1;
  border-color: rgba(22, 47, 98, var(--tw-border-opacity));
}
.focus\:border-gray-300:focus {
  --tw-border-opacity: 1;
  border-color: rgba(203, 213, 225, var(--tw-border-opacity));
}
.focus\:border-gray-400:focus {
  --tw-border-opacity: 1;
  border-color: rgba(148, 163, 184, var(--tw-border-opacity));
}
.rounded {
  border-radius: 0.25rem;
}
.rounded-md {
  border-radius: 0.375rem;
}
.rounded-lg {
  border-radius: 0.5rem;
}
.rounded-xl {
  border-radius: 0.75rem;
}
.rounded-2xl {
  border-radius: 1rem;
}
.rounded-full {
  border-radius: 9999px;
}
.rounded-t-lg {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.rounded-b-lg {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.rounded-tl-lg {
  border-top-left-radius: 0.5rem;
}
.rounded-tr-lg {
  border-top-right-radius: 0.5rem;
}
.first\:rounded-t-lg:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.last\:rounded-b-md:last-child {
  border-bottom-right-radius: 0.375rem;
  border-bottom-left-radius: 0.375rem;
}
.last\:rounded-b-lg:last-child {
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.border {
  border-width: 1px;
}
.border-t-4 {
  border-top-width: 4px;
}
.border-b-4 {
  border-bottom-width: 4px;
}
.border-t {
  border-top-width: 1px;
}
.border-r {
  border-right-width: 1px;
}
.border-b {
  border-bottom-width: 1px;
}
.border-l {
  border-left-width: 1px;
}
.cursor-default {
  cursor: default;
}
.cursor-pointer {
  cursor: pointer;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}
.table-row {
  display: table-row;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.flex-row {
  -webkit-box-orient: horizontal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-col,
.flex-row {
  -webkit-box-direction: normal;
}
.flex-col {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-col-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
.flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content-end {
  -ms-flex-line-pack: end;
  align-content: flex-end;
}
.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}
.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.flex-shrink-0 {
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.font-sans {
  font-family: Inter, sans-serif;
}
.font-serif {
  font-family: Raleway;
}
.font-waheed {
  font-family: MV Waheed;
}
.font-faruma {
  font-family: Faruma;
}
.font-normal {
  font-weight: 400;
}
.font-medium {
  font-weight: 500;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.h-1 {
  height: 0.25rem;
}
.h-3 {
  height: 0.75rem;
}
.h-4 {
  height: 1rem;
}
.h-5 {
  height: 1.25rem;
}
.h-6 {
  height: 1.5rem;
}
.h-10 {
  height: 2.5rem;
}
.h-12 {
  height: 3rem;
}
.h-24 {
  height: 6rem;
}
.h-32 {
  height: 8rem;
}
.h-40 {
  height: 10rem;
}
.h-48 {
  height: 12rem;
}
.h-64 {
  height: 16rem;
}
.h-96 {
  height: 24rem;
}
.h-118 {
  height: 29.5rem;
}
.h-140 {
  height: 35rem;
}
.h-3\/6 {
  height: 50%;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-lg {
  font-size: 1.125rem;
}
.text-lg,
.text-xl {
  line-height: 1.75rem;
}
.text-xl {
  font-size: 1.25rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.leading-none {
  line-height: 1;
}
.leading-relaxed {
  line-height: 1.625;
}
.leading-loose {
  line-height: 2;
}
.list-inside {
  list-style-position: inside;
}
.list-disc {
  list-style-type: disc;
}
.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}
.my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
.mt-1 {
  margin-top: 0.25rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 0.75rem;
}
.mr-3 {
  margin-right: 0.75rem;
}
.mb-3 {
  margin-bottom: 0.75rem;
}
.ml-3 {
  margin-left: 0.75rem;
}
.mt-4 {
  margin-top: 1rem;
}
.mr-4 {
  margin-right: 1rem;
}
.ml-4 {
  margin-left: 1rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.mr-6 {
  margin-right: 1.5rem;
}
.mb-6 {
  margin-bottom: 1.5rem;
}
.ml-6 {
  margin-left: 1.5rem;
}
.ml-8 {
  margin-left: 2rem;
}
.mt-9 {
  margin-top: 2.25rem;
}
.mb-9 {
  margin-bottom: 2.25rem;
}
.mt-12 {
  margin-top: 3rem;
}
.mb-12 {
  margin-bottom: 3rem;
}
.ml-auto {
  margin-left: auto;
}
.mr-0\.5 {
  margin-right: 0.125rem;
}
.ml-0\.5 {
  margin-left: 0.125rem;
}
.max-w-xs {
  max-width: 20rem;
}
.max-w-sm {
  max-width: 24rem;
}
.max-w-2xl {
  max-width: 42rem;
}
.max-w-6xl {
  max-width: 72rem;
}
.max-w-7xl {
  max-width: 80rem;
}
.min-h-screen {
  min-height: 100vh;
}
.min-w-full {
  min-width: 100%;
}
.object-cover {
  -o-object-fit: cover;
  object-fit: cover;
}
.object-top {
  -o-object-position: top;
  object-position: top;
}
.opacity-0 {
  opacity: 0;
}
.opacity-20 {
  opacity: 0.2;
}
.opacity-75 {
  opacity: 0.75;
}
.opacity-90 {
  opacity: 0.9;
}
.opacity-100 {
  opacity: 1;
}
.hover\:opacity-75:hover {
  opacity: 0.75;
}
.focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.overflow-hidden {
  overflow: hidden;
}
.overflow-x-auto {
  overflow-x: auto;
}
.overflow-y-auto {
  overflow-y: auto;
}
.p-2 {
  padding: 0.5rem;
}
.p-4 {
  padding: 1rem;
}
.p-6 {
  padding: 1.5rem;
}
.p-9 {
  padding: 2.25rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}
.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.py-2\.5 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pt-3 {
  padding-top: 0.75rem;
}
.pr-3 {
  padding-right: 0.75rem;
}
.pl-3 {
  padding-left: 0.75rem;
}
.pt-4 {
  padding-top: 1rem;
}
.pl-4 {
  padding-left: 1rem;
}
.pt-6 {
  padding-top: 1.5rem;
}
.pr-6 {
  padding-right: 1.5rem;
}
.pb-6 {
  padding-bottom: 1.5rem;
}
.pl-6 {
  padding-left: 1.5rem;
}
.pt-8 {
  padding-top: 2rem;
}
.pr-9 {
  padding-right: 2.25rem;
}
.pl-9 {
  padding-left: 2.25rem;
}
.pt-12 {
  padding-top: 3rem;
}
.pr-12 {
  padding-right: 3rem;
}
.pb-12 {
  padding-bottom: 3rem;
}
.pl-12 {
  padding-left: 3rem;
}
.pr-15 {
  padding-right: 3.75rem;
}
.pl-15 {
  padding-left: 3.75rem;
}
.pr-18 {
  padding-right: 4.5rem;
}
.pl-18 {
  padding-left: 4.5rem;
}
.pb-24 {
  padding-bottom: 6rem;
}
.pb-36 {
  padding-bottom: 9rem;
}
.pr-2\.5 {
  padding-right: 0.625rem;
}
.pl-2\.5 {
  padding-left: 0.625rem;
}
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.inset-0 {
  top: 0;
  bottom: 0;
}
.inset-0,
.inset-x-0 {
  right: 0;
  left: 0;
}
.top-0 {
  top: 0;
}
.right-0 {
  right: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.top-16 {
  top: 4rem;
}
.top-full {
  top: 100%;
}
* {
  --tw-shadow: 0 0 #0000;
}
.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.shadow,
.shadow-sm {
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.shadow-lg,
.shadow-xl {
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.shadow-xl {
  --tw-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.shadow-inner {
  --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
* {
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
}
.focus\:ring-0:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow, 0 0 #0000);
}
.focus\:ring-mof-blue-100:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgba(52, 114, 237, var(--tw-ring-opacity));
}
.focus\:ring-opacity-50:focus {
  --tw-ring-opacity: 0.5;
}
.stroke-current {
  stroke: currentColor;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.text-gray-100 {
  --tw-text-opacity: 1;
  color: rgba(241, 245, 249, var(--tw-text-opacity));
}
.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgba(203, 213, 225, var(--tw-text-opacity));
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgba(148, 163, 184, var(--tw-text-opacity));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(100, 116, 139, var(--tw-text-opacity));
}
.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgba(51, 65, 85, var(--tw-text-opacity));
}
.text-gray-800 {
  --tw-text-opacity: 1;
  color: rgba(30, 41, 59, var(--tw-text-opacity));
}
.text-yellow-600 {
  --tw-text-opacity: 1;
  color: rgba(217, 119, 6, var(--tw-text-opacity));
}
.text-yellow-900 {
  --tw-text-opacity: 1;
  color: rgba(120, 53, 15, var(--tw-text-opacity));
}
.text-green-600 {
  --tw-text-opacity: 1;
  color: rgba(5, 150, 105, var(--tw-text-opacity));
}
.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgba(37, 99, 235, var(--tw-text-opacity));
}
.text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgba(79, 70, 229, var(--tw-text-opacity));
}
.text-mof-blue-100 {
  --tw-text-opacity: 1;
  color: rgba(52, 114, 237, var(--tw-text-opacity));
}
.text-mof-blue-400 {
  --tw-text-opacity: 1;
  color: rgba(22, 47, 98, var(--tw-text-opacity));
}
.text-mof-blue-gray-100 {
  --tw-text-opacity: 1;
  color: rgba(105, 127, 168, var(--tw-text-opacity));
}
.text-mof-blue-gray-200 {
  --tw-text-opacity: 1;
  color: rgba(89, 108, 143, var(--tw-text-opacity));
}
.text-mof-blue-gray-300 {
  --tw-text-opacity: 1;
  color: rgba(65, 79, 105, var(--tw-text-opacity));
}
.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.hover\:text-gray-100:hover {
  --tw-text-opacity: 1;
  color: rgba(241, 245, 249, var(--tw-text-opacity));
}
.hover\:text-gray-500:hover {
  --tw-text-opacity: 1;
  color: rgba(100, 116, 139, var(--tw-text-opacity));
}
.hover\:text-mof-blue-100:hover {
  --tw-text-opacity: 1;
  color: rgba(52, 114, 237, var(--tw-text-opacity));
}
.hover\:text-mof-blue-400:hover {
  --tw-text-opacity: 1;
  color: rgba(22, 47, 98, var(--tw-text-opacity));
}
.focus\:text-gray-300:focus {
  --tw-text-opacity: 1;
  color: rgba(203, 213, 225, var(--tw-text-opacity));
}
.focus\:text-gray-500:focus {
  --tw-text-opacity: 1;
  color: rgba(100, 116, 139, var(--tw-text-opacity));
}
.uppercase {
  text-transform: uppercase;
}
.hover\:underline:hover {
  text-decoration: underline;
}
.tracking-wide {
  letter-spacing: 0.025em;
}
.tracking-wider {
  letter-spacing: 0.05em;
}
.align-middle {
  vertical-align: middle;
}
.align-bottom {
  vertical-align: bottom;
}
.w-3 {
  width: 0.75rem;
}
.w-4 {
  width: 1rem;
}
.w-5 {
  width: 1.25rem;
}
.w-6 {
  width: 1.5rem;
}
.w-7 {
  width: 1.75rem;
}
.w-8 {
  width: 2rem;
}
.w-10 {
  width: 2.5rem;
}
.w-12 {
  width: 3rem;
}
.w-14 {
  width: 3.5rem;
}
.w-24 {
  width: 6rem;
}
.w-36 {
  width: 9rem;
}
.w-40 {
  width: 10rem;
}
.w-48 {
  width: 12rem;
}
.w-56 {
  width: 14rem;
}
.w-60 {
  width: 15rem;
}
.w-80 {
  width: 20rem;
}
.w-1\/2 {
  width: 50%;
}
.w-1\/3 {
  width: 33.333333%;
}
.w-2\/3 {
  width: 66.666667%;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.z-20 {
  z-index: 20;
}
.z-40 {
  z-index: 40;
}
.z-50 {
  z-index: 50;
}
.z-60 {
  z-index: 60;
}
.gap-3 {
  gap: 0.75rem;
}
.gap-6 {
  gap: 1.5rem;
}
.gap-8 {
  gap: 2rem;
}
.gap-9 {
  gap: 2.25rem;
}
.gap-x-6 {
  -webkit-column-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
  column-gap: 1.5rem;
}
.gap-x-9 {
  -webkit-column-gap: 2.25rem;
  -moz-column-gap: 2.25rem;
  column-gap: 2.25rem;
}
.gap-y-3 {
  row-gap: 0.75rem;
}
.gap-y-6 {
  row-gap: 1.5rem;
}
.gap-y-12 {
  row-gap: 3rem;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}
.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.col-span-1 {
  grid-column: span 1 / span 1;
}
.col-span-2 {
  grid-column: span 2 / span 2;
}
.col-span-3 {
  grid-column: span 3 / span 3;
}
.col-span-4 {
  grid-column: span 4 / span 4;
}
.col-span-12 {
  grid-column: span 12 / span 12;
}
.row-span-1 {
  grid-row: span 1 / span 1;
}
.transform {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  -webkit-transform: translateX(var(--tw-translate-x))
    translateY(var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.scale-90 {
  --tw-scale-x: 0.9;
  --tw-scale-y: 0.9;
}
.scale-95 {
  --tw-scale-x: 0.95;
  --tw-scale-y: 0.95;
}
.translate-y-0 {
  --tw-translate-y: 0px;
}
.translate-y-2 {
  --tw-translate-y: 0.5rem;
}
.translate-y-4 {
  --tw-translate-y: 1rem;
}
.transition-all {
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
.transition {
  -webkit-transition-property: background-color, border-color, color, fill,
    stroke, opacity, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, -webkit-box-shadow, -webkit-transform;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform;
  transition-property: background-color, border-color, color, fill, stroke,
    opacity, box-shadow, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
.ease-in {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-out {
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
.ease-in-out {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.duration-75 {
  -webkit-transition-duration: 75ms;
  transition-duration: 75ms;
}
.duration-100 {
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.duration-150 {
  -webkit-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
.duration-200 {
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.duration-300 {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes ping {
  75%,
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@keyframes ping {
  75%,
  to {
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0;
  }
}
@-webkit-keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes bounce {
  0%,
  to {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    -webkit-transform: none;
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
@keyframes bounce {
  0%,
  to {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    -webkit-transform: none;
    transform: none;
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.line-clamp-1 {
  -webkit-line-clamp: 1;
}
.line-clamp-1,
.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.line-clamp-2 {
  -webkit-line-clamp: 2;
}
.line-clamp-3 {
  -webkit-line-clamp: 3;
}
.line-clamp-3,
.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.line-clamp-4 {
  -webkit-line-clamp: 4;
}
.line-clamp-5 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
@media (min-width: 640px) {
  .sm\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sm\:justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .sm\:justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .sm\:h-full {
    height: 100%;
  }
  .sm\:p-3 {
    padding: 0.75rem;
  }
  .sm\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .sm\:w-full {
    width: 100%;
  }
  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .sm\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .sm\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .sm\:col-span-3 {
    grid-column: span 3 / span 3;
  }
  .sm\:scale-95 {
    --tw-scale-x: 0.95;
    --tw-scale-y: 0.95;
  }
  .sm\:scale-100 {
    --tw-scale-x: 1;
    --tw-scale-y: 1;
  }
  .sm\:translate-x-0 {
    --tw-translate-x: 0px;
  }
  .sm\:translate-x-2 {
    --tw-translate-x: 0.5rem;
  }
  .sm\:translate-y-0 {
    --tw-translate-y: 0px;
  }
}
@media (min-width: 768px) {
  .md\:space-y-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.5rem * (1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
  }
  .md\:space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * (1 - var(--tw-space-x-reverse)));
  }
  .md\:space-x-reverse > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 1;
  }
  .md\:border-t-0 {
    border-top-width: 0;
  }
  .md\:block {
    display: block;
  }
  .md\:inline-flex {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .md\:hidden {
    display: none;
  }
  .md\:flex-row {
    -webkit-box-orient: horizontal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .md\:flex-col,
  .md\:flex-row {
    -webkit-box-direction: normal;
  }
  .md\:flex-col {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .md\:justify-start {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .md\:px-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .md\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .md\:w-48 {
    width: 12rem;
  }
  .md\:w-1\/4 {
    width: 25%;
  }
  .md\:w-3\/4 {
    width: 75%;
  }
  .md\:w-full {
    width: 100%;
  }
  .md\:gap-y-6 {
    row-gap: 1.5rem;
  }
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .md\:col-span-1 {
    grid-column: span 1 / span 1;
  }
}
@media (min-width: 1024px) {
  .lg\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * (1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse));
  }
  .lg\:space-x-3 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.75rem * var(--tw-space-x-reverse));
    margin-left: calc(0.75rem * (1 - var(--tw-space-x-reverse)));
  }
  .lg\:border-t-0 {
    border-top-width: 0;
  }
  .lg\:border-l {
    border-left-width: 1px;
  }
  .lg\:block {
    display: block;
  }
  .lg\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .lg\:hidden {
    display: none;
  }
  .lg\:flex-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .lg\:items-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .lg\:items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .lg\:h-4 {
    height: 1rem;
  }
  .lg\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .lg\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
  .lg\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .lg\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  .lg\:my-0 {
    margin-bottom: 0;
  }
  .lg\:mt-0,
  .lg\:my-0 {
    margin-top: 0;
  }
  .lg\:mt-3 {
    margin-top: 0.75rem;
  }
  .lg\:mr-4 {
    margin-right: 1rem;
  }
  .lg\:ml-4 {
    margin-left: 1rem;
  }
  .lg\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .lg\:pl-0 {
    padding-left: 0;
  }
  .lg\:pb-20 {
    padding-bottom: 5rem;
  }
  .lg\:text-left {
    text-align: left;
  }
  .lg\:text-right {
    text-align: right;
  }
  .lg\:text-gray-200 {
    --tw-text-opacity: 1;
    color: rgba(226, 232, 240, var(--tw-text-opacity));
  }
  .lg\:text-mof-blue-400 {
    --tw-text-opacity: 1;
    color: rgba(22, 47, 98, var(--tw-text-opacity));
  }
  .lg\:text-mof-blue-gray-100 {
    --tw-text-opacity: 1;
    color: rgba(105, 127, 168, var(--tw-text-opacity));
  }
  .lg\:focus\:text-mof-blue-100:focus {
    --tw-text-opacity: 1;
    color: rgba(52, 114, 237, var(--tw-text-opacity));
  }
  .lg\:w-4 {
    width: 1rem;
  }
  .lg\:w-16 {
    width: 4rem;
  }
  .lg\:w-1\/2 {
    width: 50%;
  }
  .lg\:grid-flow-col {
    grid-auto-flow: column;
  }
  .lg\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .lg\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .lg\:grid-cols-12 {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .lg\:col-span-1 {
    grid-column: span 1 / span 1;
  }
  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }
  .lg\:col-span-3 {
    grid-column: span 3 / span 3;
  }
  .lg\:col-span-4 {
    grid-column: span 4 / span 4;
  }
  .lg\:col-span-7 {
    grid-column: span 7 / span 7;
  }
  .lg\:col-span-8 {
    grid-column: span 8 / span 8;
  }
  .lg\:col-span-9 {
    grid-column: span 9 / span 9;
  }
  .lg\:grid-rows-3 {
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .xl\:container {
    width: 100%;
  }
  @media (min-width: 640px) {
    .xl\:container {
      max-width: 640px;
    }
  }
  @media (min-width: 768px) {
    .xl\:container {
      max-width: 768px;
    }
  }
  @media (min-width: 1024px) {
    .xl\:container {
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px) {
    .xl\:container {
      max-width: 1280px;
    }
  }
  @media (min-width: 1536px) {
    .xl\:container {
      max-width: 1536px;
    }
  }
  .xl\:space-x-0 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0px * var(--tw-space-x-reverse));
    margin-left: calc(0px * (1 - var(--tw-space-x-reverse)));
  }
  .xl\:bg-main-pattern {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 0C6.716 0 0 6.716 0 15c8.284 0 15-6.716 15-15zM0 15c0 8.284 6.716 15 15 15 0-8.284-6.716-15-15-15zm30 0c0-8.284-6.716-15-15-15 0 8.284 6.716 15 15 15zm0 0c0 8.284-6.716 15-15 15 0-8.284 6.716-15 15-15z' fill='%231e386f' fill-opacity='.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
  .xl\:block {
    display: block;
  }
  .xl\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .xl\:grid {
    display: grid;
  }
  .xl\:hidden {
    display: none;
  }
  .xl\:flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .xl\:h-118 {
    height: 29.5rem;
  }
  .xl\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .xl\:mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .xl\:mt-7 {
    margin-top: 1.75rem;
  }
  .xl\:max-w-xs {
    max-width: 20rem;
  }
  .xl\:px-12 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .xl\:pr-9 {
    padding-right: 2.25rem;
  }
  .xl\:pl-9 {
    padding-left: 2.25rem;
  }
  .xl\:pr-12 {
    padding-right: 3rem;
  }
  .xl\:fixed {
    position: fixed;
  }
  .xl\:absolute {
    position: absolute;
  }
  .xl\:bottom-3\/4 {
    bottom: 75%;
  }
  .xl\:w-full {
    width: 100%;
  }
  .xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  .xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  .xl\:grid-cols-9 {
    grid-template-columns: repeat(9, minmax(0, 1fr));
  }
  .xl\:col-span-1 {
    grid-column: span 1 / span 1;
  }
  .xl\:col-span-2 {
    grid-column: span 2 / span 2;
  }
  .xl\:row-span-2 {
    grid-row: span 2 / span 2;
  }
}
@media (min-width: 1536px) {
  .\32xl\:text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .\32xl\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .\32xl\:px-12 {
    padding-right: 3rem;
  }
  .\32xl\:pl-12,
  .\32xl\:px-12 {
    padding-left: 3rem;
  }
  .\32xl\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
